<div class="static-pages-home">
  <div class="cover-photo">
    <div class="header">
      <div class="title">Cadeau Wines</div>
      <div class="slogan">Where the gift of giving comes first</div>
    </div>
  </div>
  <div class="info-content">
    <div class="row">
      <div class="col-sm-4">
        <div class="info-card">
          <div class="image"></div>
          <div class="header">Customized Labels</div>
          <div class="description">Want to commemorate a special occasion or give a classy and unique gift? Our customized label fulfillment team will get the job done. We have premade designs if you want to quickly get the job done, but you can make labels yourself if you'd like! Labels can be placed on the back of single-label bottles, on the necks or bottles, or anywhere on our custom shiner collection!</div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="info-card">
          <div class="image"></div>
          <div class="header">Diverse selection<div>
          <div class="description">Through our relationships with wine companies, we offer branded wines as well as more customizeable ready-made shinefr, offering a large selection so that you can pick your perfect gift. We hold the standard set - Cabernet Sauvignon, Merlot, Pinot Noir, Zinfandel, and Chardonnay, as well as many more!</div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="info-card">
          <div class="image"></div>
          <div class="header">Adherence to quality</div>
          <div class="description">We know that our wines cannot be great without a laser-sharp focus on quality. Growing our wines methodically, we are not only vintners, but passionate scientists as well, with the hopes that you will enjoy our wines as much as we love making them.</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="info-block col-sm-12">
        <i class="icon ion-android-image"></i>
        <div class="description">Custom wine labels dslkfj sldkjf lksd fklsjkdlf lksd flksjdflkslkdfh ksjhljdflkshdf lkshdf lksjdf</div>
      </div>
    </div>
    <div class="row">
      <div class="info-block col-sm-12">
        <i class="icon ion-bag"></i>
        <div class="description">Send to your friends dslkfj sldkjf lksd fklsjkdlf lksd flksjdflkslkdfh ksjhljdflkshdf lkshdf lksjdf</div>
      </div>
    </div>
  </div>
</div>
