<div class="static-pages-home">
  <div class="cover-photo">
    <div class="title">Cadeau Wines</div>
    <div class="slogan">Blah blah blah disrupt industry blah cloud.</div>
  </div>
  <div class="info-content">
    <div class="row">
      <div class="col-sm-4">
        <div class="info-card">
          <div class="image"></div>
          <div class="header">Header 1</div>
          <div class="description">dslkfj sldkjf lksd fklsjkdlf lksd flksjdflkslkdfh ksjhljdflkshdf lkshdf lksjdf</div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="info-card">
          <div class="image"></div>
          <div class="header">Header 2</div>
          <div class="description">dslkfj sldkjf lksd fklsjkdlf lksd flksjdflkslkdfh ksjhljdflkshdf lkshdf lksjdf</div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="info-card">
          <div class="image"></div>
          <div class="header">Header 3</div>
          <div class="description">dslkfj sldkjf lksd fklsjkdlf lksd flksjdflkslkdfh ksjhljdflkshdf lkshdf lksjdf</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="info-block col-sm-12">
        <i class="icon ion-android-image"></i>
        <div class="description">Custom wine labels dslkfj sldkjf lksd fklsjkdlf lksd flksjdflkslkdfh ksjhljdflkshdf lkshdf lksjdf</div>
      </div>
      <div class="info-block col-sm-12">
        <i class="icon ion-android-image"></i>
        <div class="description">Custom wine labels dslkfj sldkjf lksd fklsjkdlf lksd flksjdflkslkdfh ksjhljdflkshdf lkshdf lksjdf</div>
      </div>
    </div>
  </div>
</div>
