<div class="static-pages-home">
  <div class="cover-photo">
    <div class="title">Cadeau Wines</div>
    <div class="slogan">Blah blah blah disrupt industry blah cloud.</div>
  </div>
  <div class="info-content">
    <div class="row">
      <div class="col-sm-4">
        <div class="info-card">df</div>
      </div>
      <div class="col-sm-4">
        <div class="info-card">df</div>
      </div>
      <div class="col-sm-4">
        <div class="info-card">df</div>
      </div>
    </div>
  </div>
</div>
