#menu {
  position: fixed;
  z-index: 100;
  @include navbarTop;
  left: -$menuWidth - 10;
  bottom: 0;
  width: $menuWidth;
  background-color: white;
  box-shadow: $boxShadow;
  @extend .transition;

  @media (min-width: 768px) {
    left: 0;
  }

  // To be used only for the home page
  &.home {
    left: -$menuWidth - 10 !important;
  }

  &.open {
    left: 0!important;
  }

  .menu-group {
    border-bottom: 1px solid $mainBgColor;
    width: 100%;
    padding-top: $standardPadding / 2;
    padding-bottom: $standardPadding / 2;

    &:last-child {
      border-bottom: none;
    }

    .header {
      display: block;
      width: 100%;
      padding-left: $standardPadding;
      padding-right: $standardPadding;
      padding-top: $standardPadding / 2;
      padding-bottom: $standardPadding / 2;
      line-height:15px;
      font-size: 12px;
      color: #cccccc;
      letter-spacing: 0.5px;
    }

    a {
      display: block;
      width: 100%;
      padding-left: $standardPadding;
      padding-right: $standardPadding;
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      color: #757575;

      &:hover {
        text-decoration: none;
        background-color: #e4e4e4;
      }

      &.iconed {

        &:before {
          display: inline-block;
          width: $standardPadding * 2;
          padding-right: $standardPadding;
          text-align: center;
          font-family: Ionicons;
          font-size: 16px;
        }

        &.sign-in { &:before { content:"\f3a0"; } }
        &.sign-up { &:before { content:"\f39f"; } }
        &.favorites { &:before { content:"\f370"; } }
        &.settings { &:before { content:"\f2f7"; } }
        &.sign-out { &:before { content:"\f385"; } }
        &.wines { &:before { content:"\f368"; } }
        &.about { &:before { content:"\f3a7"; } }
        &.announcements { &:before { content:"\f39b"; } }
        &.contact { &:before { content:"\f2d2"; } }
      }
    }
  }
}