#menu {
  position: fixed;
  z-index: 1;
  @include navbarTop;
  left: -$menuWidth - 10;
  bottom: 0;
  width: $menuWidth;
  background-color: white;
  box-shadow: $boxShadow;
  @extend .transition;

  &.open {
    left: 0;
  }

  .menu-group {
    border-bottom: 1px solid $mainBgColor;
    width: 100%;

    &:last-child {
      border-bottom: none;
    }

    a {
      display: block;
      width: 100%;
      padding-left: $standardPadding;
      padding-right: $standardPadding;
      height: 60px;
      line-height: 60px;
      font-size: 14px;
      color: #757575;

      &:hover {
        text-decoration: none;
        background-color: #e4e4e4;
      }

      &.iconed {

        &:before {
          display: inline-block;
          width: $standardPadding * 2;
          padding-right: $standardPadding;
          text-align: center;
          font-family: Ionicons;
        }

        &.sign-in { &:before { content:"\f3a0"; } }
        &.sign-up { &:before { content:"\f39f"; } }
        &.favorites { &:before { content:"\f370"; } }
        &.sign-out { &:before { content:"\f385"; } }
        &.wines { &:before { content:"\f368"; } }
        &.about { &:before { content:"\f3a7"; } }
        &.announcements { &:before { content:"\f39b"; } }
        &.contact { &:before { content:"\f2d2"; } }
      }
    }
  }
}