$navButtonHeight: 34px;

.cadeau-navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  color: white;
  font-size: 25px;
  background-color: $mainColor;
  box-shadow: $boxShadow;
  @include navbarHeight;
  @extend .transition;

  // To be used only for the home page
  &.home {
    background-color: rgba(0,0,0,0);
    box-shadow: none;

    #title {
      opacity: 0;
    }

    .nav-btn {
      background-color: rgba(255,255,255,0.3);

      &:hover {
        background-color: white;
        color: #777777;
      }
    }
  }

  * {
    display: inline-block;
  }

  #menu-button {
    @include navbarWidth;
    @include navbarHeight;
    text-align: center;
    @extend .transition;

    &:hover {
      opacity: $hoverOpacity;
      cursor: pointer;
    }

    i {
      &:before {
        @include navbarHeight;
        @include navbarLineHeight;
      }
    }
  }

  #title {
    @include navbarHeight;
    @include navbarLineHeight;
    @extend .transition;

    @media (min-width: 768px) {
      font-size: 24px;
    }

    @media (max-width: 767px) {
      position: relative;
      font-size: 20px;
      top: -1px;
    }
  }

  .pull-right {

    @media (max-width: 767px) {
      display: none;
    }

    .nav-btn {
      @extend .action-btn;
      @media (min-width: 768px) {
        margin-top: ($desktopNavbarHeight - $navButtonHeight) / 2;
      }

      @media (max-width: 767px) {
        margin-top: ($mobileNavbarHeight - $navButtonHeight) / 2;
      }
      margin-right: $tightPadding;
      border-radius: $buttonRadius;
      height: $navButtonHeight;
      font-size: 14px;
      line-height: $navButtonHeight;
      padding-left: $tightPadding;
      padding-right: $tightPadding;
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }

      &:last-child {
        margin-right: $tightPadding + 5;
      }
    }
  }
}