@import "variables";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    font-family: Roboto;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: $mainBgColor;
}

.card {
  -webkit-box-shadow: $cardShadow;
  -moz-box-shadow: $cardShadow;
  box-shadow: $cardShadow;
}