* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    font-family: Roboto;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: $mainBgColor;
    @media (min-width: 768px) {
      padding-top: $desktopNavbarHeight;
    }

    @media (max-width: 767px) {
      padding-top: $mobileNavbarHeight;
    }
}

#content {
  @extend .transition-long;
  opacity: 0;

  &.show {
    opacity: 1;
  }
}

.container {
  padding: $standardPadding;

  @media (min-width: 768px) {
    padding-left: $menuWidth + $standardPadding;
    margin: 0;
    width: 100%;
  }

  &.home {
    padding-left: $standardPadding;
  }

}

.card {
  -webkit-box-shadow: $cardShadow;
  -moz-box-shadow: $cardShadow;
  box-shadow: $cardShadow;
  display: block;

  padding: $standardPadding;
  background-color: white;
}

.grouped-card {
  -webkit-box-shadow: $cardShadow;
  -moz-box-shadow: $cardShadow;
  box-shadow: $cardShadow;

  background-color: white;

  .card-child {
    border-bottom: 1px solid $mainBgColor;
    padding: $standardPadding;
    display: block;

    &:hover {
      color: $grayColor;
      background-color: #eeeeee;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

input {
  padding: $tightPadding;
  font-size: 16px;
  border: 2px solid $lightGrayColor;
  margin-bottom: $tightPadding;
  @extend .transition;

  &[type="submit"] {
    margin-bottom: 0;
    @extend .action-btn;
  }

  &:focus {
    border-color: $mainColor !important;
    outline: none;
  }
}

.action-btn {
  background-color: $secondaryColor;
  color: white;
  border: none;
  text-align: center;
  @extend .transition;

  &:hover {
    opacity: $hoverOpacity;
  }
}