<% if flash[:error] %>
  <p class='flash error'><%= flash[:error] %></p>
<% end %>

<% if flash[:notice] %>
  <p class='flash notice'><%= flash[:notice] %></p>
<% end %>

<% if flash[:success] %>
  <p class='flash success'><%= flash[:success] %></p>
<% end %>