<div id="menu">
  <div class="menu-group">
    <%= link_to "Sign in", new_user_session_path, class: "iconed sign-in" %>
    <%= link_to "Sign up", new_user_registration_path, class: "iconed sign-up" %>
  </div>
  <div class="menu-group">
    <a class="iconed wines">Wine Catalog</a>
  </div>
  <div class="menu-group">
    <a class="iconed about">About Cadeau Wines</a>
    <a class="iconed announcements">Announcements</a>
    <a class="iconed contact">Contact Cadeau Wines</a>
  </div>
</div>