<div id="menu">
  <div class="menu-group">
    <%= link_to "Sign in", new_user_session_path, class: "iconed sign-in" %>
    <%= link_to "Sign up", new_user_registration_path, class: "iconed sign-up" %>
  </div>
  <div class="menu-group">
    <a>poopoo</a>
    <a>poopoo</a>
  </div>
</div>