<div class="cadeau-navbar">
  <div class="pull-left">
    <div id="menu-button"><i class="ion-android-menu"></i></div>
    <div id="title">
      <% if !(yield(:title).empty?) %>
          <%= yield(:title) %>
        <% else %>
          <%= 'Cadeau Wines' %>
        <% end %>
    </div>
  </div>
</div>