<div class="cadeau-navbar">
  <div class="pull-left">
    <div id="menu-button"><i class="ion-android-menu"></i></div>
    <div id="title">
      <% if !(yield(:title).empty?) %>
          <%= yield(:title) %>
        <% else %>
          <%= 'Cadeau Wines' %>
        <% end %>
    </div>
  </div>
  <div class="pull-right">
    <%= link_to "Sign in", new_user_session_path, class: "nav-btn" %>
    <%= link_to "Sign up", new_user_registration_path, class: "nav-btn" %>
  </div>
</div>